<div class="homepage-container">
  <app-search-bar (searchFetch)="fetchProductsByName($event)"/>
  <div>{{totalElements}}</div>

  <input type="range" min="2" max="10" [(ngModel)]="nameLength"/>

  @for (product of products; track product.id) {
  <p>{{ product.name | shortener:nameLength}}</p>
  <p>{{ product.price }}</p>
  <button type="button" class="btn btn-secondary" (click)="addToCart(product)">
    Lisa ostukorvi
  </button>
  <!-- <button routerLink="/product/{{product.id}}">Vaata detailsemat</button> -->
  <button
    type="button"
    class="btn btn-secondary"
    [routerLink]="['product', product.id]"
  >
    Vt detailsemalt
  </button>
  }
  <br /><br />
  @if (totalElements !== 0) {
    <app-pagination [totalPages] = "totalPages" (pageChangeFetch)="fetchProducts($event)"/>
  }
</div>