<span class="error">{{ message }}</span>
<form #addProductForm="ngForm" (submit)="addProduct(addProductForm)">
  <label>Name</label><br />
  <input type="text" ngModel name="name" required/><br />
  <label>Price</label><br />
  <input type="text" ngModel name="price" required/><br />
  <label>Image</label><br />
  <input type="text" ngModel name="image" /><br />
  <label>Active</label><br />
  <input type="checkbox" ngModel name="active" /><br />
  <label>Description</label><br />
  <textarea autosize type="text" ngModel name="description"></textarea><br />
  <label>Protein</label><br />
  <input type="text" ngModel name="protein" /><br />
  <label>Carbohydrate</label><br />
  <input type="text" ngModel name="carbohydrate" /><br />
  <label>Fat</label><br />
  <input type="text" ngModel name="fat" /><br />
  <label>Category</label><br />
  <input type="text" ngModel name="category" /><br /><br />
  <button [disabled]="addProductForm.invalid" type="submit" class="btn btn-primary">Add</button>
</form>
